################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AspNetCoreApplication/bin/Debug/netcoreapp1.0
/src/AspNetCoreApplication/obj/Debug/netcoreapp1.0
/.vs
*.user
/src/AspNetCoreApplication/bower_components
/src/AspNetCoreApplication/wwwroot/lib
