################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AspNetCoreApplication/bin/Debug/netcoreapp1.0
/src/AspNetCoreApplication/obj/Debug/netcoreapp1.0
/.vs
*.user
/src/AspNetCoreApplication/bower_components
/src/AspNetCoreApplication/wwwroot/lib
/test/AspNetCoreApplication.Tests/bin/Debug/netcoreapp1.0
/test/AspNetCoreApplication.Tests/obj/Debug/netcoreapp1.0
/test/AspNetCoreApplication.UnitTests/bin/Debug/netcoreapp1.0
/test/AspNetCoreApplication.UnitTests/obj/Debug/netcoreapp1.0
/release/ManageAzureWebAppAzureResourceGroup/bin/Debug/staging/ManageAzureWebAppAzureResourceGroup
/src/AspNetCoreApplication/project.lock.json
/test/AspNetCoreApplication.UnitTests/project.lock.json
/packages
/test/AspNetCoreApplication.UITests/bin/Debug
/test/AspNetCoreApplication.UITests/obj/Debug
/src/AspNetCoreApplication/obj
